@page
@model _210081D_Wong_Yee_Jin.Pages.UserDetailsModel
@{
    ViewData["Title"] = "User Details";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <div>
            <label class="col-sm-2 col-form-label">First Name:</label>
            <label>@Model.HPModel.FirstName</label>
        </div>
        <div>
            <label class="col-sm-2 col-form-label">Last Name:</label>
            <label>@Model.HPModel.LastName</label>
        </div>
        <div>
            <label class="col-sm-2 col-form-label">Gender:</label>
            <label>@Model.HPModel.Gender</label>
        </div>
        <div>
            <label class="col-sm-2 col-form-label">NRIC:</label>
            <label>@Model.HPModel.NRIC</label>
        </div>
        <div>
            <label class="col-sm-2 col-form-label">Email address:</label>
            <label>@Model.HPModel.Email</label>
        </div>
        <div>
            <label class="col-sm-2 col-form-label">Date of Birth:</label>
            <label>@Model.HPModel.DateOfBirth.ToShortDateString()</label>
        </div>
        <div>
            <label class="col-sm-2 col-form-label">Who am I:</label>
            <label>@Model.HPModel.WhoamI</label>
        </div>
        <div>
            <iframe src="@Model.HPModel.ResumePath" width="100%" height="500px">
        </div>
    </div>
</div>
